%h1 Test Haml

= tabbed_panel do |tp|
  - tp.add_tab("Tab One") do
    Content for Tab One

  - tp.add_tab("Tab Two") do
    Content for Tab Two

  - tp.add_tab("Tab Three") do
    %p Content for Tab Three

  - tp.add_tab("Tab Four", :content => "Content for Tab Four".html_safe)

  - unsafe = "<script>unsafe!</script>"
  - tp.add_tab("Tab Foo", :content => unsafe)

  - tp.add_tab("Tab Bar") do
    = unsafe
